.app {
  padding: 20px 0;
  width: 60%;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

.tip p {
  font-size: 10px;
  color: red;
  margin: 0;
  margin-left: 5px;
}
.tip {
  margin: 5px 0 0;
}

.form-input {
  width: 18%;
}

.add-row-btn {
  height: 38px;
  width: 140px;
}
